<div class="hero">
    <div class="links">
        <a href="https://github.com/ale70029">
            <img src="assets\contacts\githubIcon.png" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/alessandro-ciccarone/">
            <img src="assets\contacts\linkedinIcon.png" alt="linkedin">
        </a>
        <a href="mailto:alessandro.ciccarone1994@gmail.com/">
            <img src="assets\contacts\emailIcon.png" alt="email">
        </a>
    </div>
    <img class="profilePicture fadeIn" src="assets\hero\heroImage.png" alt="profilePic">


    <div class="title">
        <p>Software Developer</p>
        <span>ALESSANDRO</span>
        <span>CICCARONE</span>
        <div class="buttons">
            <div class="wrap">
                <button class="button" (click)="showMoreToggle()">Scopri di più</button>
            </div>
        </div>
    </div>
</div>
<span class="material-icons closeButton" *ngIf="showMore" (click)="showMoreToggle()">
    close
</span>
<app-about *ngIf="showMore" class="overlay"></app-about>