.hero {
    height: 100%;
    display: flex;
    flex-direction: row;

    background: linear-gradient(to right, var(--color-main) 25%, var(--color-bg) 25%);

    .profilePicture {
        height: 60%;
        position: absolute;
        left: 27%;
        top: 20%;
        transform: translateX(-50%);
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.150);
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 5%;
        margin-left: 30px;
        gap: 20px;


        a {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                filter: invert(100%);
            }
        }
        a:hover {
            img {
                filter: none;
            }
        }
    }


    .title {
        text-align: center;
        font-family: "Monoton";
        font-size: 100px;
        margin-left: 35%;
        margin-top: 6%;

        p {
            font-size: 40px;
            font-family: "Jura";
            margin-bottom: 0;
        }

    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 5%;
    }

    .customButton {
        background-color: var(--color-soft);
        border: none;
        font-size: 18px;
        font-family: "Jura";
        color: var(--color-bg);
        width: 200px;
    }

    .customButton:hover {
        background-color: var(--color-accent);
        color: white;
    }
}




/* MOBILE */
@media screen and (max-width: 830px) {

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 100px;

        background: var(--color-main);

        .profilePicture {
            height: 38%;
            left: 50%;
            top: 10%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.150);
        }

        .links {
            margin-left: 0;
        }

        .title {
            font-size: 40px;
            margin-left: 0;
            margin-top: 55%;

            p {
                font-size: 30px;
            }
        }

        .buttons {
            flex-direction: column;
            align-items: center;
            margin-left: 0%;
            gap: 10px;


            .customButton {
                background-color: var(--color-bg);
                color: var(--color-main);
                font-size: large;

            }
        }

    }
}

/* MOBILE LANDSCAPE */
@media screen and (max-width: 830px) and (orientation:landscape) {
    .hero {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 100px;

        .profilePicture {
            height: auto;
            width: 30%;
            transform: translateX(-90%);
            position: relative;
            left: 27%;
            margin-top: 10%;
        }

        .links {
            top: 120%;
        }

        .title {
            margin-top: 0px;
            margin-bottom: 4%;
        }
    }

}