.hero {
    height: 100%;
    background: linear-gradient(to right, var(--color-main)35%, var(--color-bg) 35%);

    display: flex;
    flex-direction: row;
}

.profilePicture {
    height: 500px;
    position: absolute;
    left: 35%;
    top: 20%;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.107);
}

.title{

    font-size: 120px;
    margin-left: 50%;
    margin-top: 10%;
    font-family: "Jura";
    
}
