.skillsTabGroup{
    margin-top: 6%;
    height:85%;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    margin: 2%;
    margin-right: 4%;
    gap: 5%;
    row-gap: 20px;
    
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 160px;


        background-color: var(--color-main);
        border-radius: 5%;
        background-color: var(--color-blur);
        backdrop-filter: blur(10px);

        img {
            width: 50%;
            margin: 10%;

        }

        h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 100%;
            margin-bottom: 10px;
            color: white;
        }

    }

}

@media screen and (max-width: 830px) {

    .skillsTabGroup{
        margin-top: 20%;
    }
    .skillsContainer{
        margin: auto;
        margin-left: 5%;
        margin-top: 5%;

        .skill{
            width: 40%;
            height: 160px;

            background-color: rgba(0, 0, 0, 0.25);

            img{
                width: 80px;
            }
        }
    }
}

@media screen and (max-width: 830px) and (orientation:landscape) {

    .skillsTabGroup{
        margin-top: 10%;
        height: 100%;
    }
    .skillsContainer{
        margin: auto;
        margin-top: 5%;

        .skill{
            width: 20%;
            height: 160px;

            background-color: rgba(0, 0, 0, 0.25);

            img{
                width: 80px;
            }
        }
    }
}