.skillsTabGroup{
    margin-top: 6%;
    height:85%;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    margin: 2%;
    gap: 5%;
    row-gap: 20px;
    
    .skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 15%;
        height: 80px;

        border-radius: 15px;
        background-color: var(--color-main);
        background-color: var(--color-blur);
        backdrop-filter: blur(10px);

        img {
            width: 20%;
            margin: 5%;

        }

        h1 {
            text-transform: uppercase;
            font-size: 100%;
            color: white;
            margin-right: 5px;
        }

    }

}

@media screen and (max-width: 830px) {

    .skillsTabGroup{
        margin-top: 20%;
    }
    .skillsContainer{
        margin: auto;
        margin-left: 5%;
        margin-top: 5%;

        .skill{
            width: 80%;
            height: 100px;

            background-color: rgba(0, 0, 0, 0.25);

            img{
                width: 70px;
            }
        }
    }
}

@media screen and (max-width: 830px) and (orientation:landscape) {

    .skillsTabGroup{
        margin-top: 10%;
        height: 100%;
    }
    .skillsContainer{
        margin: auto;
        margin-top: 5%;

        .skill{
            width: 29%;
            height: 100px;

            background-color: rgba(0, 0, 0, 0.25);

            img{
                width: 80px;
            }
        }
    }
}