<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="false">
    <mat-nav-list> <!-- MOBILE SIDEBAR LINKS-->
      <a mat-list-item routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close() ">
        Home</a>


      <a mat-list-item routerLink="/experience" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        Experience</a>

      <a mat-list-item routerLink="/skills" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        Skills</a>

      <a mat-list-item routerLink="/projects" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        Projects</a>

      <a mat-list-item routerLink="/contacts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        Contacts</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- DESKTOP LINKS -->
      <div class="links">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/experience" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Experience</a>
        <a routerLink="/skills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Skills</a>
        <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
        <a routerLink="/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contacts</a>
      </div>
      
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>