.sidenav-container {
    height: 100%;
    background-color: var(--color-bg);

    justify-content: center;
    
   
}

.background{
    background-image: url('/assets/bg.jpg');
    background-size: cover;        /* copre tutto il contenitore */
    background-position: center;   /* centrato */
    background-repeat: no-repeat;  /* niente ripetizioni */
}

.sidenav{
    background-color:rgba(0, 0, 0, 0.25) ;
    backdrop-filter: blur(10px);

}
.toolbar {

    justify-content: space-between;
    position: fixed;
    z-index: 500;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .languageButtonDesktop{
        display: flex;
        margin-top: 20px;
        
    }
    .languageButtonMobile{
        display: none;
    }
}
.menu-button {
    display: none;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;

    .link{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3px;
    }

    a {
        color: var(--color-main);
        font-family: "Lato";
        font-size: 20px;

        text-decoration: none;
        text-transform: uppercase;

        span{
            color: white;
            margin-right: 4px;
        }
    }

    a:hover {
        color: white;
        span{
            color: white;
        }
    }

    .active {
        color: var(--color-accent);
        span{
            color: var(--color-accent);
        }
       }
}





/* MOBILE */
@media (max-width: 700px) {

    
    .links {
        display: none;
    }

    .menu-button {
        display: flex;
        transform: scale(1.5);
        
    }


    .toolbar{
        margin-top: 10px;
        justify-content: left;
        background-color: transparent;
        backdrop-filter: none;
        box-shadow:none;

        .languageButtonDesktop{
            display: none;
        }
        .languageButtonMobile{
            display: flex;
        }
    }

    .active-link {
        color: var(--color-accent) !important;
    }

    
.routeList{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 30%;
    margin-left: 20%;
  
    gap: 30px;
    a{
        font-size: 40px;
        text-decoration: none;
        color: white;
    }
}

    .closeButton{
        font-size: 100px;
        top: 10%;
    }

}


/* BACKGROUND */
.bg {
    animation:slide 50s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--color-main) 50%, var(--color-accent) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:45s;
  }
  
  .bg3 {
    animation-duration:45s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }