.toolbar {

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        a{
            color: var(--color-main);
            font-family: "Jura";
            font-size:22px;
            text-decoration: none;
        }

        a:hover{
            color: var(--color-accent);
        }
    }

}
