<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="false">
    <mat-nav-list class="routeList"> <!-- MOBILE SIDEBAR LINKS-->
      <span class="material-icons closeButton" (click)="sidenav.close()">
        close
      </span>

      <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close() ">
        <span class="material-icons">home</span>
        Home</a>

      <a routerLink="/experience" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        <span class="material-icons">work</span>
        Experience</a>

      <a routerLink="/skills" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        <span class="material-icons">workspace_premium</span>
        Skills</a>

      <a routerLink="/projects" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        <span class="material-icons">construction</span>
        Projects</a>

      <a routerLink="/contacts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidenav.close()">
        <span class="material-icons">alternate_email</span>
        Contacts</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- DESKTOP LINKS -->
      <div class="links">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">
          <span class="material-icons">home</span>
          Home
        </a>

        <a routerLink="/experience" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">
          <span class="material-icons">work</span>
          Experience
        </a>

        <a routerLink="/skills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">
          <span class="material-icons">workspace_premium</span>
          Skills
        </a>

        <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">
          <span class="material-icons">construction</span>
          Projects
        </a>

        <a routerLink="/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">
          <span class="material-icons">alternate_email</span>
          Contacts
        </a>

      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>