
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  @include mat.tabs-overrides((
    active-indicator-color: white,
    divider-color: orange,
    active-label-text-color: white,
    inactive-label-text-color: black,
    label-text-size:20px,
  ));
}

:root {
  @include mat.select-overrides((
    panel-background-color: rgba(0, 0, 0, 0.567),
    enabled-trigger-text-color: rgb(255, 145, 0),
  ));
}