/* Colors */
:root{
    color: white;
    --color-main: rgb(26,26,26);
    --color-accent: #0b32cd;
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--color-main);
}