/* Colors */
:root{
    color: white;
    --color-bg: rgb(26,26,26);
    --color-main: rgb(220, 107, 1);

    --color-accent: rgb(255, 175, 27);
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--color-bg);
}